.errorBox{
    border: 1px solid red;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.error{
    font-size: 2rem;
}

.errorBox a{
    padding: 10px 40px;
    background-color: var(--text-color);
    color: var(--primary);
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}